<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/components/jointjs/dist/joint.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script type="text/javascript" src="/js/libraries.js"></script>
  {{#each scripts}}
    <script type="text/javascript" src="{{this}}"></script>
  {{/each}}
</head>
<body>


  {{{body}}}


  </body>
</html>
