

<h1>{{title}}</h1>
<pre>
  {{{session}}}
</pre>
<div id="workflow"></div>

<script type="text/javascript">
  window.onload = function() {
    var workflow = {{{workflow}}},
        title = '{{workflow_id}}',
        completion = {{{completion}}};
    //fire things off!
    cs6233mtq4.execute(workflow, title, completion);
  };

</script>
